/* custom-prism.css */
.code-bg {
  // background: #04070c !important; 
  background: #1b1b1b !important;   /* pure black */
  color: #f8f8f2;               /* light text */
  border-radius: 8px;           /* smooth edges */
  font-family: monospace !important;
  overflow-x: auto;
}

.doc-article-bg{
  background: #000 !important; 
  // background: #0d1017 !important; 
}