@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
}

body {
	background-color: black !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

p {
	font-family: 'mono', monospace;
}
